/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";




/* theme */

@theme{

  /* colors */
  --color-primary: #3467ef;
  --color-secondary: #444;
  --color-tertiary: #999;
  --color-quaternary: #ccc;
  --color-dark: #212529;



  /* font */
  --font-primary: 'Poppins', 'sans-serif';
}


/* container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }
}




/* common css */
.btn{
  @apply bg-primary text-white font-primary  uppercase;
}

/* header */
.timeMail{
  @apply flex items-center gap-2 text-tertiary text-[14px] font-primary;
}


/* navbar */
.navLink{
  @apply text-secondary text-[14px] font-primary font-semibold hover:text-primary capitalize duration-300  ;
}


/* banner */
.bnrMain{
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 89%);
}
.bnrbtn{
  @apply p-1 rounded-full cursor-pointer outline-2 outline-dark border-3 border-purple-50
}